robdyn/*.pyc
sferes2/*.pyc
install/
sferes2/build
sferes2/virtual*
sferes2/GS60*
sferes2/.waf*
sferes2/.lock-wscript
sferes2/contact_simu*
sferes2/performance_metrics.dat
sferes2/traj_simu*
sferes2/test_ofb*
sferes2/run_exp.sh
sferes2/run_multiple.sh
sferes2/*.sh
sferes2*.mat
robdyn/.waf*
robdyn/.lock-wscript
robdyn/bld
exp/hexa_supg_hyperneat/hexa_supg_hyperneat_*
compile_all.sh
sferes2/*.m
sferes2/*.mat
*.m~
sferes2/*.png
sferes2/*.fig
matlab/torque_tests/*
